.restart {
	width: 200px;
	padding: .7rem 1rem;
	font-size: 1.3rem;
	margin: .5rem auto;
	border: 1px solid #000000;
	border-radius: .5rem;
	color: #000000;
	background-color: transparent;
	cursor: pointer;
}